*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
keystore/
*.log
test/shots/
test/dl/
test/*.png
test/*.pdf
test/dl/
test-*.png
test/MistakeMonsters-v1.2.0.apk
test/MistakeMonsters-v1.3.0.apk
test/MistakeMonsters-v1.4.0.apk
